@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>404标题页</title>
</head>
<body>
<div>
    404内容页
    <h3>Error:The request url @Model is not found!</h3>
</div>
</body>
</html>